@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.text__red{
    color: rgb(174, 12, 36);
}

.row{
    background-color: white;
    width: 100%;
    max-width: 600px;
    
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 20px 25px white;
}

.container{
    background-color: rgb(255, 197, 197);
    display: flex;
    justify-content: center;
}

/* NAV */


.name__nav{
    font-size: 36px;
    font-weight: 700;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.name{
    flex-direction: row-reverse;
    width: fit-content;
}

.container__nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav__links{
    display: flex;
    justify-content: end;
    width: 50%;
}

.nav__link{
    color: white;
    width: 100%;
    font-size: 18px;
    margin-left: 12px;
    background-color: rgb(57, 57, 57);
    padding: 6px 10px;
    border-radius: 25px;
    text-align: center;
}

.nav__link:hover{
    background-color: rgb(30, 30, 30);
    padding: 8px 12px;
    transition: all 200ms ease;
}

.nav__link--anchor-primary{
    background-color: rgb(174, 12, 36)
}

.nav__link--anchor-primary:hover{
    background-color: rgb(172, 61, 77);
}

.nav__logo-name--container{
    display: flex;
    width: 40%;
}

.nav__logo--container{
    width: 1%;
}

.nav__logo{
    height: 50px;
    width: 80px;
    animation: animate-logo 600ms infinite ease;
}

@keyframes animate-logo{
    0%{
        transform: rotate(0);
    }
  
    100%{
        transform: rotate(360deg);
    }
}

/* ABOUT ME*/

.about-me__container{
    color: white;
    display: flex;
    justify-content: center;
}

.about-me__logo{
    height: 400px;
    border-radius: 70%;
    margin-left: 8px;
    box-shadow: 10px 10px 10px black;
}

.row__about-me{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}

.welcome{
    color: black;
    position: absolute;
    top: 0;
    animation: animate-welcome 800ms 200ms ease;
}

@keyframes animate-welcome{
    0%{transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.about-me__logo--container{
    padding: 60px 0;
    animation: animate-profile-picture 800ms 200ms ease;
}

@keyframes animate-profile-picture{
    0%{transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.about-me__description{
    font-size: 20px;
    text-align: center;
    color: black;
}

.about-me__links{
    display: flex;
    justify-content: center;
    margin: 8px 0 16px 0;
}

.fa-brands{
    margin: 10px 12px;
    text-align: center;
}

.about-me__anchor{
    box-sizing: content-box;
    color: rgb(174, 12, 36);
    transition: all 50ms ease;
}

.about-me__anchor:hover{
    font-size: smaller;
}

.placeholder__logo{
    width: 80%;
}

/* Technology Stack */

.languages--container{
    display: flex;
    justify-content: center;
}

.row__languages{
    display: flex;
    flex-direction: column;
    color: white;
}

.technology-stack{
    margin: 36px;
    color: black;
    font-size: 30px;
}

.language__wrapper{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language__image{
    width: 100%;
    margin-bottom: 12px;
    transition: all 250ms ease;
}

.language__wrapper:hover .language__image{
    transform: scale(0.8);
    opacity: .9;
}

.technology-stack--container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

.language__name{
    color: black;
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease;
}

.language__wrapper:hover .language__name{
    opacity: 1;
    transform: scale(1);
}

.technology__description{
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.technology-stack--description{
    width: 80%;
}

/* Projects */

.row__projects{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: flex;
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.projects::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition:  opacity 450ms ease;
    z-index: 2;
}

.projects:hover .projects::before{
    opacity: .7;
}

.projects__head{
    font-size: 32px;
}

.projects__description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.projects:hover .projects__description{
    opacity: 1;
    transform: translateY(-50%);
}

.projects:hover .projects__description{
    opacity: 1;
}

.projects__header{
    color: black;
}

.project__image{
    width: 400px; 
}

.projects:hover .project__image{
    transform: scale(1.07);
    filter: blur(5px);
}
